.title {
    padding: 12px 15px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

/* ------------------------------------ */
/* Estilos para la tabla de productos   */
/* ------------------------------------ */

main {
    text-align: -webkit-center;
}

.tabla-productos {
    width: 80%; 
    border-collapse: collapse; 
    margin-top: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #fff; /* Fondo blanco para la tabla */
    font-family: Arial, sans-serif;
}

/* Estilos para el encabezado de la tabla */
.tabla-productos thead tr {
    background-color: #66008f; /* Azul primario */
    color: white;
    text-align: left;
}

.tabla-productos th {
    padding: 12px 15px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

/* Estilos para las filas de datos */
.tabla-productos tbody tr {
    border-bottom: 1px solid #ddd; 
}

/* Estilo para las celdas de datos */
.tabla-productos td {
    padding: 10px 15px;
    vertical-align: middle;
    color: #333;
}

/* Efecto hover en las filas */
.tabla-productos tbody tr:hover {
    background-color: #f1f1f1; /* Fondo gris claro al pasar el ratón */
    transition: background-color 0.3s ease;
}

/* Estilos para la última fila */
.tabla-productos tbody tr:last-child {
    border-bottom: none;
}

/* Alineación para columnas específicas */
.tabla-productos .col-precio,
.tabla-productos .col-stock {
    text-align: right;
    width: 100px; /* Ancho fijo para mejorar la presentación */
}


.red {
    color: #dc3545; 
    font-weight: bold;
    text-align: center;
    padding: 20px;
    border: 1px solid #f5c6cb;
    background-color: #f8d7da;
    border-radius: 4px;
}